
@{
    ViewBag.Title = "ErrorAccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

<h3>Access Denied!</h3>

<h4>You are not owner of this advertisement.</h4>
<br />
<p>
    <a type="button" class="btn btn-default" href="~/User/List">Back</a>
</p>