
@{
    ViewBag.Title = "ErrorNoCreated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error!</h2>

<h3>You have no created any advertisements? Want to create one?</h3>
<br />
<p>
    <div class="btn-group">
        <a type="button" class="btn btn-default" href="~/Advertisements/Create">Create new</a>
        <a type="button" class="btn btn-default" href="~/Manage/Index">Back to account</a>
    </div>
</p>
