
@{
    ViewBag.Title = "ErrorNoEntries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

<h3>No Entries, try select other user/advertisement</h3>

<br />

<p>
    <a type="button" class="btn btn-default" href="~/User/List">Back</a>
</p>