@model AdvIdentity.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            
            @if (Model.HasPassword)
            {
                <a type="button" class="btn btn-default" href="~/Manage/ChangePassword">Change your password</a>
            }
            else
            {
                <a type="button" class="btn btn-default" href="~/Manage/SetPassword">Create</a>
            }
            
        </dd>
        <dd><br /></dd>
        <dt>Advertisements:</dt>
        <dd>
            <div class="btn-group">
                <a type="button" class="btn btn-default" href="~/Advertisements/Create">Create new</a>
                <a type="button" class="btn btn-default" href="~/Advertisememnts/YourAds">Back to account</a>
            </div>
        </dd> 
    </dl>
</div>
